PORT=3001
LOG_LEVEL=DEBUG

# NOOP, STDOUT, JAEGER, OTLP, OTLP_GRPC
OTEL_EXPORTER=OTLP_GRPC
OTEL_EXPORTER_JAEGER_ENDPOINT=http://localhost:14268/api/traces

# doesn't need http:// and path
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318
# If we want to use Jaeger endpoint via OTLP protocol
# (directly sent to Jaeger without OpenTelemetry Exporter)
# OTEL_EXPORTER_OTLP_ENDPOINT=localhost:14318

# using grpc
OTEL_EXPORTER_OTLP_GRPC_ENDPOINT=localhost:4317
